.team-panel {
    display: flex;
    flex-direction: column;
}

.team-panel-actions {
    display: flex;
    gap: 44px;
    margin-top: 23px;
}

.team-panel-label {
    display: block;
    color: #989898;
    font-size: 24px;
    padding-left: 17px;
}

.map-scores-container {
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}